*{margin: 0;padding: 0;box-sizing: border-box;}
html body{font-size: 12px;font-family: "Microsoft YaHei ";color: #555555;background-color: #efeae4;}
a{color: #555555;text-decoration: none;}
.container{width: 1000px;margin: 0 auto;overflow: hidden;}
.wrapper{float: left;width: 1000px;background-color: #ffffff;}
.header{float: left;width: 1000px;height: 80px;background-color: #dc9158;}
.header a{font-weight: bold;color: #ffffff;}
.header a.logo{float: left;margin: 15px 0 0 24px;font-size:30px;}
.nav{float: left;width: 1050px;height: 43px;line-height: 43px;font-size: 14px;font-weight: bold;background-color: #ffdfb6;}
.header .gou{width: 150px;height: 80px;float: right;}
.nav a{margin: 0 43px 0 25px;color: #a9836c;}

.shisitu{width: 1000px;height: 370px;background-color: #3c763d;margin: 0 auto;}
.shisi{width: 1000px;height: 370px;}
.quan{width: 1000px;height:60px;margin: 0 auto;}
.quanlei{line-height: 60px;font-size: 18px;font-weight: bold;text-align: center;color: #dc9158;font-size: 22px;font-family: 仿宋;}
.spzuo{width: 450px;height: 60px;float: left;}
.spz{width: 350px;height:4px;margin: 30px 90px;background-color: #dc9158; }
.spz{float: left;}
.spzhong{width: 100px;height: 60px;float: left;}
.spy{width: 350px;height:4px;margin: 30px 10px;background-color: #dc9158;}
.spyou{width: 450px;height: 60px;float: left;}

.su{width: 820px;height: 140px;margin: 0 auto;}
.sugou{width: 230px;height: 140px;float: left;}
.suzi{width: 590px;height: 120px;float: left;padding: 25px }
.x{color: #dc9158;float: right;text-decoration: underline;}



.xi{width: 820px;height: 140px;margin: 0 auto;margin: 30px auto;}
.xigou{width: 230px;height: 140px;float: left;}
.xizi{width: 590px;height: 120px;float: left;padding: 25px;color: #dc9158; }
.x{color: #dc9158;float: right;text-decoration: underline;}


.gui{width: 820px;height: 140px;margin: 0 auto;margin: 30px auto;}
.guigou{width: 230px;height: 140px;float: left;}
.guizi{width: 590px;height: 120px;float: left;padding: 25px; }
.x{color: #dc9158;float: right;text-decoration: underline;}

.jiwawa{width: 820px;height: 140px;margin: 0 auto;margin: 30px auto;}
.jiwawagou{width: 230px;height: 140px;float: left;}
.jiwawazi{width: 590px;height: 120px;float: left;padding: 25px;color: #dc9158; }
.x{color: #dc9158;float: right;text-decoration: underline;}

.cha{width:80px;height: 30px;background-color: #dc9158;margin: 0 auto;margin: 30px auto;}
.chakan{color: white;text-align: center;line-height: 30px;}

.banquan{width: 1000px;height: 100px;margin: 0 auto;background-color: #dc9158;}
.bqwz{line-height: 100px;text-align: center;color: white;font-size: 10px;}

.nav{position:relative;list-style:none;z-index: 999;float: left;}
.nav>li{
    float: left;
    position: relative;
    margin: 0 43px 0 25px;
}

.nav>li a{display:inline-block;color: #a9836c;}
.nav>li>ul{
    display: none;
    position: absolute;
    top: 43px;
    left:-20px;
    padding: 0px;
    width: 100px;
    background:rgba(0,0,0,.5);
}

.nav>li>ul li a{
    display: block;
    width: 100px;
    text-align: center;
    color: #fff;
}

.nav>li>ul li a:hover{
    color: #f1f1f1;
}