*{margin: 0;padding: 0;box-sizing: border-box;}
html body{font-size: 12px;font-family: "Microsoft YaHei ";color: #555555;background-color: #efeae4;}
a{color: #555555;text-decoration: none;}
.container{width: 1000px;margin: 0 auto;}
.wrapper{float: left;width: 1000px;background-color: #ffffff;}
.header{float: left;width: 1000px;height: 80px;background-color: #dc9158;}
.header a{font-weight: bold;color: #ffffff;}
.header a.logo{float: left;margin: 15px 0 0 24px;font-size:30px;}
.nav{float: left;width: 1050px;height: 43px;line-height: 43px;font-size: 14px;font-weight: bold;background-color: #ffdfb6;}
.header .gou{width: 150px;height: 80px;float: right;}
.nav a{margin: 0 43px 0 25px;color: #a9836c;}
.zhu{width: 1000px;margin:  0 auto;}
.zhuyao{line-height: 60px;font-size: 18px;font-weight: bold;text-align: center;}
.zyd{ width: 1000px;height: 210px; margin: -25px auto;}
.zyz{font-size: 13px; line-height: 30px; padding-bottom: 20px; padding-top: 10px;}
.zzgou{width: 1000px;height: 10px;text-align: center;margin: 260px auto;}
.zz{width: 1000px;height: 550px;margin: auto  0;}
.banquan{width: 1000px;height: 100px; margin-top:570px;background-color: #dc9158;}
.bqwz{line-height: 100px;text-align: center;color: white;font-size: 10px;}

